body{
    
    background: url("./img/watchimg.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000; /* fallback color if image doesn't load */
  
}
#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1; /* pushes video behind everything */
  }
.mainHeading{
    color: rgb(0, 0, 0);
    font-weight: 800px;
    text-shadow: 2px 3px 4px rgb(27, 25, 25);
    background-color: rgb(209, 251, 237);
}
.card {
      border: none;
      border-radius: 12px;
      transition: transform 0.3s ease;
    }
    .card:hover {
      transform: translateY(-5px);
    }
    footer {
      background: #212529;
      color: #fff;
      padding: 15px;
      margin-top: 40px;
     
    }